﻿@page "/"
@using RustUpkeepMonitor.Blazor.Models
@using RustUpkeepMonitor.Blazor.Components
@using RustUpkeepMonitor.Communication.Models
@using RustUpkeepMonitor.Communication.Services
@using RustUpkeepMonitor.Core.Extensions
@using RustUpkeepMonitor.Core.Models

@inject NavigationManager NavManager
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject SettingsService SettingsService

<style>
    .centered-grid-container {
        display: flex;
        justify-content: center;
    }

    .centered-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>

@if (UiPersistence?.Cupboards != null)
{
    <MudContainer Class="mt-4 mt-md-14">
        <MudGrid Class="mb-14" Justify="Justify.Center">
            @foreach (var cupboard in UiPersistence.Cupboards)
            {
                <MudItem xs="12" sm="6" md="4">
                    <MudCard Elevation="25" Class="rounded-lg pb-4">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h4" Align="Align.Center">
                                    <b>@(cupboard.Label)</b>
                                </MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Align="Align.Center">
                                Upkeep until
                                @if (cupboard.WhenDecayBegins != null)
                                {
                                    @cupboard.WhenDecayBegins.Value.ToString("h:mm tt")
                                    <span>
                                        (@Thread.CurrentThread.CurrentUICulture.DateTimeFormat.GetDayName(@cupboard.WhenDecayBegins.Value.DayOfWeek))
                                    </span>
                                }
                            </MudText>

                            <div class="d-flex justify-center">
                                @if (cupboard.WhenDecayBegins != null)
                                {
                                    <Countdown EndTime="@cupboard.WhenDecayBegins.Value"/>
                                }
                            </div>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@((e) => EditCupboard(cupboard))">Edit</MudButton>
                        </MudCardActions>
                        @if (cupboard.LastUserUpdate != null)
                        {
                            <MudText Typo="Typo.body2" Align="Align.Center">Last edited @cupboard.LastUserUpdate.Value.GetTimeAgo()</MudText>
                        }
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </MudContainer>
}

@if (new Uri(NavManager.Uri).Query.Contains("test"))
{
    <input type="button" @onclick="SaveSettings" value="Save"/>
    <input type="button" @onclick="LoadSettings" value="Load"/>
    <span>@_result</span>
}

@code {

    private string _result = "";

    private async Task SaveSettings()
    {
        const string userId = "123";
        var userSettings = new UserSettings
        {
            PartitionKey = userId,
            Cupboards =
            [
                new StoredCupboard
                {
                    Guid = Guid.NewGuid(),
                    WhenLastUserUpdate = DateTime.Now,
                    Label = "Cloud Base",
                    WhenDecayBegins = DateTime.Now,
                }
            ]
        };
        var result = await SettingsService.SaveUserSettingsAsync(userSettings);
        Console.WriteLine(result);
        _result = result;
    }

    private async Task LoadSettings()
    {
        var userId = "123";
        var request = new LoadSettingsRequest(userId, DateTime.Now, Guid.NewGuid().ToString());
        var result = await SettingsService.LoadUserSettingsAsync(request);
        Console.WriteLine(result);
        _result = result.Cupboards?.FirstOrDefault()?.Label ?? "no cupboards in result";
    }

}



@code {
    [CascadingParameter] public UiPersistence UiPersistence { get; set; } = default!;

    async Task EditCupboard(Cupboard cupboard)
    {
        var parameters = new DialogParameters<EditCupboardDialog> { { x => x.Cupboard, cupboard } };
        var dialog = await DialogService.ShowAsync<EditCupboardDialog>(EditCupboardDialog.EditAction, parameters, EditCupboardDialog.Options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            if (cupboard.ShouldDelete)
            {
                UiPersistence.RemoveCupboard(cupboard);
            }
            else
            {
                UiPersistence.SaveChanges();
                Snackbar.Add($"{cupboard.Label} updated.", Severity.Success, c => c.VisibleStateDuration = 1000);
            }
        }
    }

}