﻿@using RustUpkeepMonitor.Core.Services
@inject TimerService TimerService

@implements IDisposable

<MudText Typo="Typo.h3" Color="GetColor(timeRemaining)">
    @FormatTimeRemaining(timeRemaining)
</MudText>
<MudText Typo="Typo.h6"> hrs</MudText>

@code {
    [Parameter] public DateTime EndTime { get; set; }
    private DateTime previousEndTime;
    private TimeSpan timeRemaining;
    private bool isSubscribed = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && !isSubscribed)
        {
            TimerService.Subscribe(UpdateTimer);
            isSubscribed = true;
            UpdateTimer();
        }
        base.OnAfterRender(firstRender);
    }

    protected override void OnParametersSet()
    {
        if (EndTime != previousEndTime)
        {
            UpdateTimer();
            previousEndTime = EndTime;
        }
        base.OnParametersSet();
    }

    private void UpdateTimer()
    {
        timeRemaining = EndTime - DateTime.Now;
        if (timeRemaining < TimeSpan.Zero)
        {
            timeRemaining = TimeSpan.Zero;
        }

        StateHasChanged();
    }

    public void Dispose()
    {
        if (isSubscribed)
        {
            TimerService.Unsubscribe(UpdateTimer);
            isSubscribed = false;
        }
    }

    private string FormatTimeRemaining(TimeSpan time)
    {
        double totalHours = time.TotalMinutes / 60.0;
        return totalHours < 1 ? $"{totalHours:0.#}" : $"{Math.Round(totalHours)}";
    }

    private Color GetColor(TimeSpan time)
    {
        var hours = Math.Round(time.TotalHours);
        if (hours < 10)
            return Color.Error;
        if (hours < 20)
            return Color.Warning;

        return Color.Success;
    }
}