﻿@using RustUpkeepMonitor.Core.Models

<MudDialog>
    <DialogContent>
        <MudTextField @bind-Value="@Cupboard.Label" Immediate="true" OnKeyDown="OnKeyDown" Label="Base Name" />

        <MudField Label="Upkeep" Variant="Variant.Outlined" Class="mt-8">
                <MudNumericField Immediate="true" OnKeyDown="OnKeyDown" @bind-Value="@Cupboard.LastUserDaysUntilDecayInput" Label="Days" Variant="Variant.Filled" autofocus />
                <MudNumericField Immediate="true" OnKeyDown="OnKeyDown" @bind-Value="@Cupboard.LastUserHoursUntilDecayInput" Label="Hours" Variant="Variant.Filled" />
                <MudNumericField Immediate="true" OnKeyDown="OnKeyDown" @bind-Value="@Cupboard.LastUserMinutesUntilDecayInput" Label="Minutes" Variant="Variant.Filled" />
        </MudField>
    </DialogContent>
    <DialogActions>
        @if (MudDialog.Title == EditAction)
        {
            <MudButton Color="Color.Error" OnClick="@OnDelete">
                Delete
            </MudButton>
        }
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@OnOk">
            @MudDialog.Title
        </MudButton>
    </DialogActions>
</MudDialog>