﻿@using Microsoft.JSInterop
@using RustUpkeepMonitor.Blazor.Components
@using RustUpkeepMonitor.Blazor.Models
@using RustUpkeepMonitor.Blazor.Services
@using RustUpkeepMonitor.Core.Models
@using RustUpkeepMonitor.Core.Extensions
@using System.Text.Json
@using System.Reflection
@using Blazored.LocalStorage
@using Microsoft.Extensions.Primitives

@using Microsoft.AspNetCore.WebUtilities
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject ILocalStorageService LocalStorageService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DiscordUserInfoService DiscordUserInfoService
@implements IDisposable
@inherits LayoutComponentBase

<CascadingValue Value="@UiPersistence">
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudButton OnClick="@Login">
                <MudIcon Icon="@Icons.Custom.Brands.Discord" Title="@(LoggedInUser != null ? $"Logged in as {LoggedInUser.Info.Username}" : "Login with Discord")"/>
            </MudButton>
            <MudText Typo="Typo.h5">UpkeepMonitor</MudText>
            <MudSpacer/>
            <MudFab StartIcon="@Icons.Material.Filled.AddCircle" Color="Color.Primary" Size="Size.Medium" Label="Add Base" OnClick="ShowDialog"/>
        </MudAppBar>
        <MudMainContent>
            @Body
        </MudMainContent>
        <MudAppBar Bottom="true" Dense="true">
            <MudLink Href="https://gitlab.com/RustUpkeepMonitor/rustupkeepmonitor.gitlab.io/-/commits/master" Target="_blank" title="@($"Latest Software Update at: {GetBuildDateTime()}")">
                <MudImage Src="@BadgeUrl" Class="mt-2"/>
            </MudLink>
            <MudSpacer/>
            <MudText Edge="Edge.End">
                @Thread.CurrentThread.CurrentUICulture.DateTimeFormat.GetDayName(DateTime.Now.DayOfWeek), @DateTime.Now.ToString("h:mm tt")
            </MudText>
        </MudAppBar>
    </MudLayout>
</CascadingValue>

<MudThemeProvider IsDarkMode="true" Theme="@_myCustomTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code {
    [Inject] IJSRuntime JsRuntime { get; set; } = default!;
    [Inject] DiscordAuthService DiscordAuthService { get; set; } = default!;

    private UserModel? LoggedInUser { get; set; }

    public UiPersistence? UiPersistence { get; set; }
    private string BadgeText => $"{GetBuildDateTime()?.GetTimeAgo(useShortVersion: true)}";
    private string BadgeUrl => $"https://gitlab.com/RustUpkeepMonitor/rustupkeepmonitor.gitlab.io/badges/master/pipeline.svg?ignore_skipped=true&key_text={Uri.EscapeDataString(BadgeText ?? "0")}&key_width=80";

    private readonly MudTheme _myCustomTheme = new()
    {
        Typography = new Typography()
        {
            H6 = new H6()
            {
                FontWeight = 0,
            }
        }
    };

    public async Task Login()
    {
        await DiscordAuthService.SignInAsync(NavigationManager.BaseUri);
    }

    public async Task ShowDialog()
    {
        var cupboard = new Cupboard();

        var parameters = new DialogParameters<EditCupboardDialog> { { x => x.Cupboard, cupboard } };
        var dialog = await DialogService.ShowAsync<EditCupboardDialog>(EditCupboardDialog.AddAction, parameters, EditCupboardDialog.Options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            UiPersistence?.AddCupboard(cupboard);
            Snackbar.Add($"{cupboard.Label} added.", Severity.Success, c => c.VisibleStateDuration = 1000);
        }
    }

    private DotNetObjectReference<MainLayout>? _objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Init();

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var code) && !StringValues.IsNullOrEmpty(code))
        {
            var accessToken = await DiscordAuthService.ExchangeCodeForTokenAsync(code.ToString(), NavigationManager.BaseUri);
            var discordUserInfo = await DiscordUserInfoService.FetchUserInfoAsync(accessToken);
            var user = new UserModel { Token = accessToken, Info = discordUserInfo };
            LoggedInUser = user;
            
            var userJson = JsonSerializer.Serialize(user);
            await LocalStorageService.SetItemAsStringAsync(UserModel.StorageKey, userJson);
            Console.WriteLine(discordUserInfo.Username + " just logged in");
            NavigationManager.NavigateTo("/");
        }
        _objRef = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("setupVisibilityChange", _objRef);
    }

    [JSInvokable]
    public void OnTabActivated()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        JSRuntime.InvokeVoidAsync("dispose");
        _objRef?.Dispose();
    }

    private async Task Init()
    {
        if (UiPersistence == null)
        {
            LoggedInUser = await LocalStorageService.GetItemAsync<UserModel>(UserModel.StorageKey);
            
            UiPersistence = new();
            UiPersistence.OnSaveRequested = async (cupboards) => await OnSave(cupboards);

            var json = await JsRuntime.InvokeAsync<string>("localStorage.getItem", "cupboards");
            if (!string.IsNullOrEmpty(json))
            {
                UiPersistence.Cupboards = JsonSerializer.Deserialize<List<Cupboard>>(json) ?? new List<Cupboard>();
            }
            else
            {
                UiPersistence.Cupboards = [new Cupboard()];
            }

            StateHasChanged();
        }
    }

    private async Task OnSave(List<Cupboard> cupboards)
    {
        if (UiPersistence != null)
        {
            var json = JsonSerializer.Serialize(UiPersistence.Cupboards);
            await JsRuntime.InvokeVoidAsync("localStorage.setItem", "cupboards", json);
        }
    }

    public static DateTime? GetBuildDateTime()
    {
        var attribute = Assembly.GetExecutingAssembly()
            .GetCustomAttributes<AssemblyMetadataAttribute>()
            .FirstOrDefault(a => a.Key == "BuildTimestamp");

        if (attribute != null && DateTime.TryParse(attribute.Value, out var buildDateTime))
        {
            return buildDateTime;
        }

        return null;
    }

}